aclocal.m4
autom4te.cache
compile
compile-all
config.guess
config.sub
install-sh
missing
*.o
Makefile
config.h
config.h.in~
config.log
config.status
src/Makefile
src/families/.dirstamp
src/pic32prog
stamp-h1
